<div id="supporters">
  {{#supporter}}
    <h3>{{firstName}} {{lastName}}</h3>
    <h6>{{age}}</h6>
    <h6>{{city}}</h6>
    <h6>{{homepage}}</h6>
    {{#if signature}}
        <img class="signature" src="{{signature}}">
    {{/if}}
  {{/supporter}}
</div>
