<h2>Change your details</h2>
<form method="POST">

    {{#if firstname}}
    <input type="text" name="firstName" placeholder={{firstname}}>
    {{else}}
    <input type="text" name="firstName" placeholder="firstname">
    {{/if}}

    {{#if lastname}}
    <input type="text" name="lastName" placeholder={{lastname}}>
    {{else}}
    <input type="text" name="lastName" placeholder="last name">
    {{/if}}

    {{#if email}}
    <input type="email" name="email"  placeholder={{email}}>
    {{else}}
        <input type="email" name="email"  placeholder="e-mail">
    {{/if}}

  <input type="password" name="password" placeholder="·········">

  {{#if age}}
    <input type="text" name="age" placeholder={{age}}>
  {{else}}
    <input type="text" name="age" placeholder="age">
  {{/if}}

  {{#if city}}
  <input type="text" name="city" placeholder={{city}}>
  {{else}}
    <input type="text" name="city" placeholder="city/town">
  {{/if}}


  {{#if homepage}}
    <input type="text" name="homepage" placeholder={{homepage}}>
  {{else}}
    <input type="text" name="homepage" placeholder="homepage or social media">
  {{/if}}


  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input  id="formButton" type="submit" name="submit" value="Update">

</form>
