<h1 id="title">We want our money working for us not for profit: against</h1>
<p id="cause"><a id="unskew">{{cause}}</a></p>
<h2>Meet your fellow supporters</h2>
<div style="display: inline">
    <input id="searchBar" type="text" placeholder="search supporters"></input>
    <select>
        <option value="city">City</option>
        <option value="name">Name</option>
    </select>
</div>



<div id="supporters">
      {{#supporter}}
      <div class="supporter">
          <div>
            <h3>{{firstName}} {{lastName}}
                <br>
            Age: {{age}},
                <br>
            Lives in: {{city}}</h3>
        </div>
            <h5>{{homepage}}</h5>
            {{#if signature}}
                <h5><em>Signed:</em></h5>
                <img class="signature" src="{{signature}}">
            {{/if}}
        </div>
      {{/supporter}}
    </div>
</div>
<script src="/roulette.js"></script>
